.container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-main-content {
    display: flex;
    width: 100%;
    height: calc(100vh - 28px);
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 12px;
    min-width: 180px;
}

button.toggle-sidenav {
    position: absolute;
    top: 3px;
    left: 5px;
}

.file-input-hidden {
    display: none;
}

.sidenav-title {
    vertical-align: middle;
    padding-right: 6px;
}

hr.sidenav-separator {
    margin: 0;
    border: none;
    background-color: lightgrey;
    height: 1px;
}

.main-grid {
    width: 100%;
    height: 100%;
}