<input #fileInput type="file" 
  class="file-input-hidden"
  (change)="onSelectedFile(fileInput)">

<mat-drawer-container class="container" autosize>
  <app-menu></app-menu>
    
  <mat-drawer #drawer class="sidenav mat-elevation-z5" mode="side">
    <p><mat-icon class="sidenav-title">near_me</mat-icon>DOM navigation</p>

    <hr class="sidenav-separator"/>
    
    <app-dom-nav [data]="data"></app-dom-nav>
  </mat-drawer>

  <div class="sidenav-main-content">
    <app-main-grid 
      class="main-grid"
      [data]="data">
    </app-main-grid>
  </div>

</mat-drawer-container>
  
  