<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <button mat-icon-button 
        *ngIf="drawer.opened" 
        (click)="drawer.toggle()" 
        class="toggle-sidenav">
        <mat-icon>menu icon</mat-icon>
      </button>
      
      <p style="position:absolute; top:15px; left:50px;">DOM nav.</p>
      <p>
        &nbsp;
        <br>
        <input type="file" 
            style="display: none;" 
            (change)="onSelectedFile(fileInput)" 
            #fileInput>
        <button mat-icon-button 
          (click)="fileInput.click()">
          <mat-icon>file_upload</mat-icon> Open file...
        </button>
      </p>

      <app-dom-nav [data]="data"></app-dom-nav>
      
    </mat-drawer>
  
    <div class="sidenav-content">
      <button mat-icon-button *ngIf="!drawer.opened" (click)="drawer.toggle()" class="toggle-sidenav">
        <mat-icon>menu icon</mat-icon>
      </button>
      <app-main-grid 
        style="width:100%; height: 100%;"
        [data]="data">
      </app-main-grid>
    </div>
  
  </mat-drawer-container>
  
  